/* ./static/css/styles.css */

#main_content{
    background: rgba(245, 245, 245, 0.9);
    padding: 50px;
}
#side_bar{
    background: rgba(245, 245, 245, 0.9);
    padding: 50px;
}

body{
    background: rgba(245, 245, 245, 0.4);
    background-image: url("https://img.freepik.com/free-photo/abundant-collection-antique-books-wooden-shelves-generated-by-ai_188544-29660.jpg?size=626&amp;ext=jpg&amp;ga=GA1.1.1546980028.1704240000&amp;semt=sph");
}


a {
    color:white;
    text-decoration: none;
}

