<!-- ./templates/index.html -->

{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-4" id="side_bar">
        <h5>Today's Quote</h5>
        <h6>“There is more treasure in books than in all the pirate's loot on Treasure Island"</h6>
        <p>~ Walt Disney</p>
        <h5>Library Timing</h5>
        <ul>
            <li>Opening: 9:00 AM</li>
            <li>Closing: 12:00 PM</li>
        </ul>
        <h5>What We provide ?</h5>
        <ul>
            <li>AC Rooms</li>
            <li>Free Wi-fi</li>
            <li>Learning Environment</li>
            <li>Discussion Room</li>
            <li>Free Electricity</li>
        </ul>
    </div>
    <div class="col-md-8" id="main_content">
        <center><h3>User Login Form</h3></center>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="email">Email ID:</label>
                <input type="text" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button type="submit" name="login" class="btn btn-primary">Login</button> |
            <a href="/signup" class="btn btn-primary"> Signup now !!</a>    
        </form>
    </div>
</div>


{% endblock %}