<!-- ./templates/view_issued_book.html -->

{% extends "layout.html" %}

{% block content %}
<br>
        <br><center><h4 class="fw-bold">Issued Book's Detail</h4><br></center>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form> 
                    <table  class="table table-bordered bg-white" style="text-align: center;">
                        <tr class="fw-bold">
                            <th>Sr No</th>
                            <th>Book Name</th>
                            <th>Book Author</th>
                            <th>Book Issue Date</th>
                            <th>Book ID</th>
                        </tr> 
                        {% for book in books %} 
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ book.book_name }}</td>
                            <td>{{ book.book_author }}</td>
                            <td>{{ book.issue_date }}</td>
                            <td>{{ book._id }}</td>
                        </tr>
                        {% endfor %}
                </table>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
{% endblock %}